#player1, #computer {
    display: inline-block;
    width: 200px;
    height: 140px;
    border: 1px solid black;
    padding: 5px;
    margin: 25px;
    text-align: center;
    font-size: 7em;
}

#output {
    width: 550px;
    text-align: center;
    font-size: 2em;
}

button {
    padding: 10px;
    text-align: center;
    width: 550px;
}

.score {
    width: 550px;
    font-size: 2em;
    text-align: center;

}